*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(116, 143, 255);
    font: normal 15pt sans-serif;
}
h1{
    text-align: center;
    color: white;
}
section{
    width: 500px;
    margin: auto;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
div{
    padding: 8px;
}
select{
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}
#finalizar{
    width: 100px;
    margin: 10px 0px 0px 0px;
    display: block;
}
footer{
    text-align: center;
    color: white;   
}